#Title {
    text-align: center;
    color: white;
    background-color: blueviolet;
}

#CoverArt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 50%;
}

#Rating {
    text-align: center;
    background-color: blueviolet;
}

#Trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.trailer_description {
    text-align: center;
    color: white;
/*    background-color: blueviolet;*/
}

#Summary {
    text-align: center;
    color: white;
    background-color: blueviolet;
}

#Actors {
    text-align: center;
    color: white;
    background-color: blueviolet;
}

a:link {
    color: powderblue;
}

a:visited {
    color: white;
}

a:hover {
    color: pink;
}

/*.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}*/